<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文件上传加、解密</title>
</head>
<body>
	<h1>文件上传加、解密</h1>
	<div style="padding: 5px;">
		<form th:action="@{/upload}" enctype="multipart/form-data" method="post">
			<label>类型：</label><input type="text" name="type"/>
			<input type="hidden" name="businessId" /><br/><br/>
			<input type="file" name="photos"/><br/><br/>
			<input type="file" name="photos"/><br/><br/>
			<input type="submit" value="上传"/>
		</form>
	</div>
	<h1><a th:href="@{/advanced}" target="_blank">进阶应用</a></h1>
</body>
</html>