<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	
	<property name="LOG_HOME" value="logs" /> 
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [%thread] [%logger{36}] -> %msg %n</pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${BIZ_NAME:-biz}_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
            <MaxFileSize>500KB</MaxFileSize>
            <TotalSizeCap>20GB</TotalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<charset>utf-8</charset>
	        <layout class="org.dante.springboot.layout.MaskingPatternLayout"> <!-- 自定义layout -->
	            <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!--json地址格式 -->
	            <maskPattern>((1\d{2})\d{8})</maskPattern> <!-- 手机号格式 -->
	            <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- 邮箱格式 -->
	            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
	        </layout>
    	</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	
	<springProfile name="default">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
		<logger name="org.dante.springboot" level="DEBUG" additivity="false">
			<appender-ref ref="STDOUT" />
		</logger>
	</springProfile>
	
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</root>
		<!-- hibernate -->
		<!--  
		<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
		<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG" />
		<logger name="org.hibernate.SQL" level="DEBUG" />
		<logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
		<logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />
		-->
		<logger name="org.dante.springboot" level="DEBUG" additivity="false">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

	<springProfile name="prod">
		<root level="WARN">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</root>
		<logger name="org.apache" level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.hibernate" level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.dante.springboot" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

</configuration>