<meta content="text/html;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
<link th:href="@{easyui/themes/bootstrap/easyui.css}" rel="stylesheet"/>
<link th:href="@{easyui/themes/icon.css}" rel="stylesheet"/>
<link th:href="@{ux/bootstrap/css/application.css}" rel="stylesheet"/>
<script th:src="@{webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{easyui/jquery.easyui.min.js}" type="text/javascript"></script>
<script th:src="@{easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript"></script>
<script>
var COMMON_CONFIG = {
	PAGESIZE: 20,
	PAGELIST: [20, 40, 60]
};
$(function() {
	$.ajaxSetup({
		beforeSend: function(xhr) {
// 			xhr.setRequestHeader('Content-Type','application/json');
			xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
		},
		complete: function(xhr, textStatus) {
			if(xhr.status == "401") {
				if(top.location != this.location) {
		    		top.location.replace('loginpage');
		    	}
			} else if(xhr.status == "403") {
				alert('没有权限, 请联系系统管理员为您配置权限！');
				if(top.location != this.location) {
		    		top.location.replace('loginpage');
		    	}
			}
		}
	});
});
</script>