<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>流程显示</title>
</head>

<body style="text-align: center;">
	<h3>流程图</h3>
	<h4 id="procInst"></h4>
	
	<div style="margin-top: 20px;padding: 10px;">
		<img id="procInstImage" alt="流程图" style="width: 800px;">
	</div>
	
</body>
<script type="text/javascript" th:src="@{~/api/jquery-1.11.2.min.js}"></script>
<script type="text/javascript">
var Page = {
		fetchFlowChart: function() {
			var procInstId = "dbdddd97-9ef1-11ec-b358-ba08179e7e59";
			$('#procInst').html(procInstId);
			$.ajax({ 
				url: "/api/flow/find_flow_inst_chart/" + procInstId, 
				contentType: "application/json; charset=utf-8",
				success: function(data){
		        	$("#procInstImage").attr("src"," data:image/jpeg;base64,"+data);
				},
		        error: function(e){
		        	console.log(e);
		        }
		    });
		}
};

$(function(){
	Page.fetchFlowChart()
});

</script>
</html>