<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dante.springboot.mapper.shiro.UserMapper">

	<select id="queryUsers" resultType="UserBO">
		select t.id, t.UserName, t.Password from T_User t
	</select>
	
	<insert id="insertUser">
		insert into T_User(UserName, Password) values (#{userName}, #{password})
	</insert>
</mapper>