<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="h2" />
    </properties>
	
	<settings>
        <!-- 开启驼峰匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!--  
		<typeAlias type="org.dante.springboot.po.StudentPO" alias="StudentPO"/>
		-->
		<!-- 整个包下的，都使用别名 -->
		<package name="org.dante.springboot.po"/>
	</typeAliases>
    
    <!-- 分页帮助文档：https://github.com/pagehelper/Mybatis-PageHelper/blob/master/README_zh.md -->
    <plugins>
    	<!-- 分页助手 4.2.1 -->
    	<!--  
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="h2" />
            <property name="offsetAsPageNum" value="true" />
            <property name="rowBoundsWithCount" value="true" />
            <property name="pageSizeZero" value="true" />
            <property name="reasonable" value="true" />
        </plugin>
        -->
        <!-- 分页助手 5.1.x -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <property name="helperDialect" value="h2"/>
	        <property name="offsetAsPageNum" value="true" />
            <property name="rowBoundsWithCount" value="true" />
            <property name="pageSizeZero" value="true" />
            <property name="reasonable" value="true" />
		</plugin>
        <plugin interceptor="org.dante.springboot.plugin.SqlCostInterceptor"></plugin>
    </plugins>
</configuration> 