<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<head th:replace="common/common"/>
<title th:fragment="title">菜单信息</title>
</head>
<body style="margin:10px;">
	 <div class="easyui-layout" fit="true">
		<div data-options="region:'west',split:true" style="width:400px;height:500px;">
			<div style="margin:10px 0 5px 0;">
		        <a cusType="addMenuBtn" sec:authorize="hasAuthority('sysmgr.resource.update')" href="javascript:;" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ResourcePage.addNode();">增加子节点</a>
		        <a sec:authorize="hasAuthority('sysmgr.resource.delete')" href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ResourcePage.delNode();">删除</a>
		        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-mini-refresh" plain="true" onclick="ResourcePage.expandAll();">展开</a>
		        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ResourcePage.collapseAll();">收缩</a>
		        <a href="javascript:;" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="ResourcePage.loadTree();">刷新</a>
		    </div>
			<ul id="resourceTree"></ul>
		</div>
		<div data-options="region:'center',title:'菜单信息'">
			<div id="resourceContainer" class="bdcontent" style="display: none;">
				<form id="resourceForm" method="post" novalidate="true">
					<input type="hidden" id="id" name="id"/>
					<input type="hidden" id="pid" name="pid"/>
					<input type="hidden" id="fullId" name="fullId"/>
					<table class="tbcontent">
						<tr>
							<td class="tbtitle" width="30%">权限</td>
							<td><input type="text" id="authorityId" name="authorityId" class="easyui-combotree" required="true" style="width: 240px;"/></td>
						</tr>
						<tr>
							<td class="tbtitle">服务领域</td>
							<td><input type="text" id="type" name="type" class="easyui-validatebox" required="true" /></td>
						</tr>
						<tr>
							<td class="tbtitle">菜单名称</td>
							<td><input type="text" id="name" name="name" class="easyui-validatebox" required="true" /></td>
						</tr>
						<tr>
							<td class="tbtitle">显示顺序</td>
							<td><input type="text" id="showOrder" name="showOrder" required="true" class="easyui-numberbox" min="1" /></td>
						</tr>
						<tr>
							<td class="tbtitle">菜单URL</td>
							<td><input type="text" id="url" name="url" class="easyui-validatebox" required="true" style="width: 99%;"/></td>
						</tr>
					</table>
				</form>
				<div id="resourceFormBtnContainer" style="margin-top: 10px; text-align: center;">
					<span class="buttonGaps formEdit" sec:authorize="hasAuthority('sysmgr.resource.update')">
						<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-edit" plain="false" onclick="ResourcePage.edit();">编辑</a>
					</span>
					<span class="buttonGaps formEdit" sec:authorize="hasAuthority('sysmgr.resource.delete')">
						<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-remove" plain="false" onclick="ResourcePage.del();">删除</a>
					</span>
					<span class="buttonGaps formPersist" sec:authorize="hasAuthority('sysmgr.resource.update')">
						<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-save" plain="false" onclick="ResourcePage.submit();">保存</a>
					</span>
					<span class="buttonGaps formPersist">
						<a href="javascript:;" class="easyui-linkbutton" iconCls="icon-undo" plain="false" onclick="ResourcePage.reset();">重置</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div id="resourceTreeMenu" class="easyui-menu" style="width:120px;">
        <div sec:authorize="hasAuthority('sysmgr.resource.update')" data-options="iconCls:'icon-add'" onclick="ResourcePage.addNode();" cusType="addMenuBtn">添加子节点</div>
        <div sec:authorize="hasAuthority('sysmgr.resource.delete')" data-options="iconCls:'icon-remove'" onclick="ResourcePage.delNode();">删除</div>
    </div>
    
    <script th:src="@{ux/util/hnasys-util.js}" type="text/javascript"></script>
	<script th:src="@{module/resource/resourcemanager.js}" type="text/javascript"></script>
	<script th:line="javascript">
		$(function() {
			ResourcePage.initPage();
		});
	</script>
</body>
</html>