<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dante.springboot.dao.StudentAddressMapper">

	<select id="queryStudentAddressById" resultType="StudentAddressPO">
		select t.id,t.province,t.city,t.area,t.street,t.student_id from t_student_address t where id = #{id}
	</select>
</mapper>